/*------------------------------------
    Section: Portfolio
------------------------------------*/

.section-portfolio-1 {
    background-color: $base-0;

    .portfolio-item {
        overflow: hidden;
        position: relative;
        margin-bottom: 30px;
        background-color: $primary;

        .portfolio-card {
            width: 100%;
            overflow: hidden;
            position: relative;
            padding-top: 100%;

            .image {
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                position: absolute;
                transition: all 600ms;
            }
            .content {
                top: 60%;
                left: 50%;
                width: 100%;
                visibility: hidden;
                position: absolute;
                text-align: center;
                transition: all 450ms;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);

                h3 {
                    font-size: 18px;
                    margin-bottom: 0;
                }
                span {
                    color: $gray;
                    opacity: 0.75;
                    display: block;
                    font-size: 12px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    margin-bottom: 6px;
                }
            }
        }

        &:hover {
            .image {
                opacity: 0.6;
                transform: scale(1.2, 1.2);
            }
            .content {
                top: 50%;
                visibility: visible;
            }
        }
    }
}

// Portfolio 2
.section-portfolio-2 {
    background-color: $base-0;

    .portfolio-item {
        overflow: hidden;
        position: relative;
        margin-bottom: 30px;
        background-color: $primary;

        .portfolio-card {
            width: 100%;
            overflow: hidden;
            position: relative;
            padding-top: 100%;

            .image {
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                position: absolute;
                transition: all 600ms;
            }
            .content {
                top: 60%;
                left: 50%;
                width: 100%;
                visibility: hidden;
                position: absolute;
                text-align: center;
                transition: all 450ms;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);

                h3 {
                    color: $base-0;
                    font-size: 18px;
                    margin-bottom: 0;
                }
                span {
                    color: $gray;
                    display: block;
                    font-size: 12px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    margin-bottom: 6px;
                }
            }
        }
        &:hover {
            .image {
                opacity: 0.3;
                transform: scale(1.2, 1.2);
            }
            .content {
                top: 50%;
                visibility: visible;
            }
        }
    }
}
@media (max-width: 768px) {
    .section-portfolio-1 {
        .row {
            margin-left: -6px;
            margin-right: -6px;
            margin-bottom: -12px;
            > * {
                padding-left: 6px;
                padding-right: 6px;
            }
        }
        .portfolio-item {
            margin-bottom: 12px;
            p {
                font-size: 12px;
            }
            h4 {
                font-size: 14px;
            }
        }
    }
}

.section-portfolio-5 {
    background-color: $base-0;

    .el-tabs .el-tabs-links li {opacity: 1; color: #fff !important;}
    .portfolio-item {
        overflow: hidden;
        position: relative;
        border-radius: 12px;
        margin-bottom: 30px;
        border: 1px solid #fff;
        background-color: $primary;

        .portfolio-card {
            width: 100%;
            overflow: hidden;
            position: relative;
            padding-top: 100%;

            .image {
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                position: absolute;
                transition: all 600ms;
            }
            .content {
                top: 60%;
                left: 50%;
                width: 100%;
                visibility: hidden;
                position: absolute;
                text-align: center;
                transition: all 450ms;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);

                h3 {
                    font-size: 18px;
                    margin-bottom: 0;
                }
                span {
                    opacity: 1;
                    display: block;
                    font-size: 12px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    margin-bottom: 6px;
                }
            }
        }

        &:hover {
            .image {
                opacity: 0.6;
                transform: scale(1.2, 1.2);
            }
            .content {
                top: 50%;
                visibility: visible;
            }
        }
    }
}

//classes
.Culese_din_toate{
   
    
    background-color:#D74F4F;
    color:#E3C342;
    height: 30px;
   width: 95%;
   font-size: 16px;
   clip-path: polygon(0 0, 100% 0%, 93% 100%, 0% 100%);
}
.hoteluri{
   
    background-color:#DAFFBB;
    color:#4262E3;
    height: 30px;
   width: 95%;font-size: 16px;
   clip-path: polygon(0 0, 100% 0%, 93% 100%, 0% 100%);
   
}
.restaurante{
   
    background-color:#D5C7FF;
    color:#4262E3;
    height: 30px;font-size: 16px;
   width: 95%;
   clip-path: polygon(0 0, 100% 0%, 93% 100%, 0% 100%);
   
}
.baruri{
   
    background-color:#B580B8;
    color:#E3C342;
    height: 30px;font-size: 16px;
   width: 95%;
   clip-path: polygon(0 0, 100% 0%, 93% 100%, 0% 100%);
   
}
.cluburi{
   
    background-color:#479AB0;
    color:#E3C342;
    height: 30px;font-size: 16px;
   width: 95%;
   clip-path: polygon(0 0, 100% 0%, 93% 100%, 0% 100%);
   
}
.fitness{
   
    background-color:#FF886F;
    color:#4262E3;
    height: 30px;
   width: 95%;
   clip-path: polygon(0 0, 100% 0%, 93% 100%, 0% 100%);
   font-size: 16px;
   
}
.circuite{
   
    background-color:#FAE0DE;
    color:#4262E3;
    height: 30px;font-size: 16px;
   width: 95%;
   clip-path: polygon(0 0, 100% 0%, 93% 100%, 0% 100%);
   
}
.benzinari{
   
    background-color:#FAE07D;
    color:#4262E3;
    height: 30px;font-size: 16px;
   width: 95%;
   clip-path: polygon(0 0, 100% 0%, 93% 100%, 0% 100%);
   
}
.cultura{
   
    background-color:#455C7D;
    color:#E3C342;
    height: 30px;font-size: 16px;
   width: 95%;
   clip-path: polygon(0 0, 100% 0%, 93% 100%, 0% 100%);
   
}
.socialIcons{
    color: #4262E3;
    display: flex;
    flex-direction: row; 
    flex-wrap: nowrap;
    float: right;
    display: inline;
    & a{
        padding: 30px;
        font-size: 1.4rem;
    }
}